# Dependency directories
/vendor/
node_modules/

# Debug and error logs
npm-debug.log*
yarn-error.log*

# Laravel specific files and folders
bootstrap/compiled.php
app/storage/
public/storage
public/hot
public_html/storage
public_html/hot
storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.yaml
Homestead.json
/.vagrant

# IDE and editor specific files
/.idea/
.vscode/

# Temporary files and swap files
*.log
*.tmp
*.temp
*.swp
*.swo
*.bak
*.bat
*.phar
*.exe

# Composer files
composer.phar

# Cache and session files
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/logs/

# Laravel Mix and Vite files
/public/mix-manifest.json
/public/assets/
/public/build

# Miscellaneous
/.fleet
auth.json